<div class="section">
    <div class="item" id="1">
        <p class="info-disc">
            E-mail :<br/> mopsyshin@gmail.com<br/><br/>
            Phone :<br/> +82 10 9514 5181<br/><br/>
            Facebook :<br/> https://www.facebook.com/mopsyshin<br/><br/>
            Brunch :<br/> https://brunch.co.kr/@mopsyshin
        </p>
    </div>
    <div class="item" id="2">
        <p class="info-disc">
            Interested in...<br/>
            Game / Communication / Code / Cooking<br/>
            Fashion / Drawing / Guitar
        </p>
    </div>
</div>
<script src="./components/info/info.js"></script>