<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    08Liter
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                경험 공유 커머스<br/>
                08Liter 2.0 UX/UI Design
            </div>
            <div class="disc">
                공팔리터는 사용자가 제품을 무료 혹은 소정의 이용비를 내고 체험해 본 후 리뷰를 작성하고 공유하는 서비스와 커머스가 연계된 서비스다.<br/>
                1.0 버전에서는 기능구현 중심으로 서비스가 설계되어 있어, 사용자들이 리뷰를 작성하긴 하지만 작성된 리뷰가 큰 효용가치를 지니진 못한 상태였다. 
                이러한 문제점을 개선하고자 2.0에서는 사용자들이 작성한 리뷰를 제품과 함께 서비스 이용 맥락 속에서 노출시킴으로써, 
                구매 전환율을 높임과 동시에 서비스 내의 커뮤니티를 활성화시는 것을 목표로 하였다.<br/><br/>
                <div class="image-box">
                    <img src="./images/08l.png" alt="">
                </div>

            </div>
            <div class="link" id="link-08l">
                <span>08Liter iOS app</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>