<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    ABC
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Annotation Based<br/>
                Comment System<br/>
                Concept Prototype
            </div>
            <div class="disc">
                현재 인터넷에서의 글을 통한 커뮤니케이션은 (채팅을 제외한다면) 전통적인 게시판 구조인 몸글 + 댓글의 형태를 크게 벗어나지 못하고 있다. <br/>
                이러한 구조는 글이 길어질수록 댓글이 본문의 어느 부분을 가지고 말하는지 알기 어려워지는 일이 발생해, 많은 미스커뮤니케이션을 유발하는 요소로 볼 수 있다.
                이를 해결하기 위해 주석 시스템을 댓글 시스템과 결합하여, 글의 특정 지점에서 정확한 커뮤니케이션을 할 수 있는 솔루션을 프로토타입으로 구현해보았다.<br/>
                (Desktop only)<br/><br/>
                <div class="image-box">
                    <img src="./images/abc.png" alt="">
                </div>
            </div>
            <div class="link" id="link-abc">
                <span>ABC Prototype</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>