<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    BBuzzArt
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                SNS for<br/>
                Emerging Aritsts<br/>
                BBuzzArt
            </div>
            <div class="disc">
                    BBuzzArt는 신진 작가들을 위한 Art SNS다. 국내 서비스가 아닌 글로벌 서비스로, 
                    현재 전세계 작가 6만 명 이상이 자신의 작품을 올리며 공유하고 있다. 
                    글로벌 서비스란 특성 상 영어로만 디자인을 하게 되어, 
                    국내 서비스를 디자인 할 때와는 타이포그래피적인 면에서 차이가 있었다.
                    <br/><br/>
                    2015년 5월 BBuzzArt에 합류하고 바로 진행한 일은 
                    디자인 가이드라인을 만드는 것이었다. 내가 합류하기 전까지 디자인을 
                    외주를 통해 해결하고 있었기 때문에 디자인 가이드라인이라고 할 만한 것이 없었다. 
                    마침 내부적으로도 리브랜딩에 대한 욕구가 있었고, 
                    리브랜딩과 동시에 대대적인 서비스 개편을 기획하게 되었다.
                    <br/><br/>
                    <div class="image-box">
                    <img src="./images/bbuzzart.jpg" alt="">
                    </div>
                    <br/>
                    데스크탑 웹과 모바일 웹, IOS/Android 어플리케이션을 동시에 
                    리뉴얼하는 대규모 작업이었기 때문에, 기획자에 대한 의존도가 컸다. 
                    마침 꼼꼼하신 기획자분과 함께하게 되어, 서비스 기획서 쓰는 법이나 
                    요건정의 등 기획 전반에 대한 업무를 배울 수 있었던 기회였다.
                    <br/><br/>
                    2016년 4월 리뉴얼 완료 후 퇴사를 하였지만, 
                    함께 일했던 개발자분들 및 동료분들과는 아직까지도 연락을 하며 지내고 있다. 
                    또한 출시 후 앱스토어에서 New App We Love에 등록된 것은 나름 뿌듯한 경험이기도 했다.
                    <br/><br/>
                    <div class="image-box">
                            <img src="./images/bbuzz-feature.jpg" alt="">
                            <p>
                              New App We Love에 등록된 BBuzzArt
                            </p>
                    </div>
            </div>
            <div class="link" id="link-bbuzzart">
                <span>BBuzzArt Web</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>