<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Random Caricature
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Toy Project<br/>
                Random Caricature
            </div>
            <div class="disc">
                랜덤 캐리커쳐는 아는 개발자와 함께 가볍게 시작한 토이 프로젝트다.<br/>
                React.js / Github Page / Firebase를 사용하여 구성하였고 결제는 Stripe로 구현하였다.<br/>
                효율성보다는 공부목적에서 재밌게 만들어본 프로젝트다.<br/>
                (모바일 대응 중)
                <div class="image-box">
                    <img src="./images/caricature.png" alt="">
                </div>
            </div>
            <div class="link" id="link-caricature">
                <span>Random Caricature</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>