<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Color Composer
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Random<br/>
                Color Composer
            </div>
            <div class="disc">
                무작위 색상 추출 및 계열색 추출 로직을
                순수 자바스크립트로 구현<br/>
                <br/><br/>
                <div class="image-box">
                    <img src="./images/composer.png" alt="">
                </div>

            </div>
            <div class="link" id="link-composer">
                <span>Color Composer</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>