<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    ER Center Servcie Design
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                보건복지부<br/>
                응급실 폭력예방 프로젝트<br/>
                서비스 디자인
            </div>
            <div class="disc">
                응급실 폭력예방 프로젝트는 서울과학기술대학교 박승배교수님 팀과, 고려대 안암병원 응급실, 그리고 더 커뮤니케이션즈 엔자임이 공동으로 진행한 프로젝트다. 나는 석사과정 연구원으로 참여하여, UX Research와 Service Design을 담당하였다.
                <br/>
                Service Design의 Discover-Define-Develope-Deliver방법론을 통하여 확산-수렴의 아이데이션을 반복하였고, 24시간 교대 Shadowing을 통해 사용자 행동 관찰을 진행했다. <br><br>
                그 결과, 사용자의 응급실 프로세스에 대한 인식 부재와 프로세스 자체의 복잡성이 불안감을 증폭시키는 요소로 작용했다는 점을 발견하였고, 그러한 부분을 시각정보를 통해 쉽게 인지할 수 있도록 돕는 방향으로 프로젝트를 진행했다.<br>
                <br/><br/>
                <div class="image-box">
                    <img src="./images/emergency.png" alt="">
                </div>
            </div>
            <div class="link" id="link-ercenter">
                <span>Service Design PPT</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>