<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    모두의셔틀
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                출근셔틀 예약서비스<br/>
                모두의셔틀
            </div>
            <div class="disc">
                출근셔틀 예약서비스 모두의셔틀은 기존에 회사단위로 운영되던 셔틀을, 
                지역단위로 인원을 모집함으로써 더 많은 회사의, 더 많은 사람들이 출근셔틀을 이용할 수 있도록 도와주는 서비스다. <br/>
                현재 모두의셔틀은 웹 기반 서비스이며, 모바일 어플리케이션은 기획까지 완료하고 나왔으나, 
                아직 출시되지는 않은 것으로 보인다. <br/><br/>
                2016년 5월 Co-Founder로 참여했으며, 디자인과 서비스 기획을 총괄했다.<br/><br/>
                완전 초기 스타트업이다 보니 디자인 총괄이라고는 하지만 디자인 외적인 운영과 
                CS업무 및 퍼블리싱까지 도맡아 하게되어, 아무래도 디자인 퀄리티나 완성도에 있어서 남는 아쉬움이 크다. <br/><br/>
                
                하지만 그만큼 다방면으로 익스트림한(...) 경험을 할 수 있었고, 
                특히 개발자와 1:1로 협업하면서 개발에 대한 이해력을 높인 게 큰 수확이 아닐까 싶다. 
                버전관리 툴(Git/SourceTree)도 쓰고, Angular로 MVC모델도 익히고, 
                CSS삽질도 할만큼 해본 듯 하다.<br/><br/>
                <div class="image-box">
                        <iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Fmosher.zone%2Fvideos%2F548012115409961%2F&show_text=1&width=560" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
                        <p>모두의셔틀 페이스북 영상광고<br>내가 직접 커머셜 영상광고까지 제작하게 될 줄은 몰랐다(...)</p>
                </div>
                하지만 무엇보다 사회인으로써 '자금난'이 무엇인지 제대로 느낄 수 있었다. 
                학생 때 가끔 부족했었던 생활비와는 다가오는 느낌과 부담감이 그 궤를 달리했다. 
                게다가 그에 따르는 스트레스 때문인지 건강악화로 이어져 2017년 1월 다른 멤버들을 남겨둔 채 떠나게 되었다.
                <br/><br/>
                <div class="image-box">
                <img src="./images/modoo-screen.png" alt=""/>
                </div>
                <br/><br/>
                위 스크린샷은 그만두고 나오던 시점의 모두의셔틀 메인화면인데, 
                얼마 전 접속해보니 아무래도 디자인 퀄리티 컨트롤에 실패한 것 같다(...) 
                메인화면의 커버 사진은 제발 고해상도로 쓰도록 하자. 2017년엔 더 흥할수 있기를 빈다.
            </div>
            <div class="link" id="link-mosher">
                <span>모두의셔틀 Web</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    <script src="./components/detail/detail.js"></script>