<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Simple Music Player
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Simple Music Player<br/>
                Concept Prototype
            </div>
            <div class="disc">
                javascript로 이벤트리스너를 이용한 것만 제외하면,
                순수 CSS Animation만을 이용하여 심플한 음악 플레이어 뷰를 구현해보았다.<br/><br/>
                <div class="image-box">
                    <img src="./images/player.png" alt="">
                </div>

            </div>
            <div class="link" id="link-player">
                <span>Simple Music Player</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>