<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Simple Profile List
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Simple Profile list <br/>
                Concept Prototype
            </div>
            <div class="disc">
                간단한 프로필 리스트 프로토타입이다. css와 javascript 연습을 위한 작은 프로젝트.
                <br/><br/>
                <div class="image-box">
                    <img src="./images/profile-list.png" alt="">
                </div>
            </div>
            <div class="link" id="link-profile">
                <span>Simple Profile List</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    <script src="./components/detail/detail.js"></script>