<div class="detail-container">
    <div class="gnb">
        <div class="gnb-wrapper">
            <div class="btn-back">
                <img src="./images/arrow.svg" alt=""/>
            </div>
            <div class="title--bar">
                redot
            </div>
            <div class="btn-empty">

            </div>
        </div>
    </div>
    <div class="content">
        <div class="title">
            Community Platform<br/>
            Redot Prototype
        </div>
        <div class="disc">
            제3세대 커뮤니티 플랫폼을 표방하는 'redot'의 웹버전 프로토타입이다. 
            개발 시 참고목적으로 주요 페이지들의 레이아웃과 액션, 트랜지션을 구현하였다.<br/><br/>
            redot은 채널 기반의 커뮤니티 플랫폼으로써, 
            기존의 각 커뮤니티들이 폐쇄적인 성격으로 인하여 온라인상의 많은 커뮤니케이션 문제를 일으키는 것을 해결하고자 하였다.
            또한 제로보드나 그누보드 등의 게시판으로 구현된 여타 커뮤니티에서 발생하는 
            추천 조작이나 운영 과부하, 그리고 단순노출방식의 배너광고 등의
            문제점들을 기술적으로 보완하여 비즈니스적으로도 더욱 효율적인 모델을 구성하고자 하였다.<br/><br/>
            아직 서비스가 런칭되지는 않았으며, 내년(2018년) 상반기 중에 런칭될 것으로 보인다.<br/>
            (Desktop Only)<br/><br/>
            <div class="image-box">
                <img src="./images/redot.png" alt="">
            </div>
        </div>
        <div class="link" id="link-redot">
            <span>Redot Prototype</span>
            <img src="./images/arrow.svg" alt="">
        </div>
    </div>
</div>

<script src="./components/detail/detail.js"></script>