<div class="detail-container">
        <div class="gnb">
            <div class="gnb-wrapper">
                <div class="btn-back">
                    <img src="./images/arrow.svg" alt=""/>
                </div>
                <div class="title--bar">
                    Republic Dot
                </div>
                <div class="btn-empty">
    
                </div>
            </div>
        </div>
        <div class="content">
            <div class="title">
                Republic Dot<br/>
                Company Website 
            </div>
            <div class="disc">
                Republic Dot 회사 소개 페이지.<br/>
                다른 대부분의 회사 홈페이지와 '다르게' 만드는 것을 목적으로 작업하였다.<br/>
                정보구성적인 면보다는 디자인적인 재미에 초점을 둔 작업이다
                <br/><br/>
                <div class="image-box">
                    <img src="./images/republic.png" alt="">
                </div>
            </div>
            <div class="link" id="link-republic">
                <span>Republic Dot</span>
                <img src="./images/arrow.svg" alt="">
            </div>
        </div>
    </div>
    
    <script src="./components/detail/detail.js"></script>