<div class="section sec-career">
    <div class="item item-career" id="1">
        <div class="left-ele">
            <p class="title">
                Withinnovation<br/>
                Designer
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2018.02 - <br/><br/>
                여기어때 액티비티<br/>
                UX/UI Design<br/><br/>
            </p>
        </div>
    </div>
    <div class="item item-career" id="2">
        <div class="left-ele">
            <p class="title">
                RepublicDot<br/>
                CDO
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2017.08 - 2017.11<br/><br/>
                Review Republic<br/>
                UX/UI Renewal<br/><br/>
                
                Redot<br/>
                Service Structure Design<br/>
                UX/UI Design<br/>
                Frontend Prototyping (React.js)<br/>
            </p>
        </div>
    </div>
    <div class="item item-career" id="3">
        <div class="left-ele">
            <p class="title">
                08Liter<br/>
                Designer                
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2017.02 ~ 2017.07<br/><br/>
                08Liter<br/>
                2.0 Version<br/>
                UX/UI Renewal<br/>
                Service Concept Proposal<br/>
                IR Document Design                
            </p>
        </div>
    </div>
    <div class="item item-career" id="4">
        <div class="left-ele">
            <p class="title">
                모두의셔틀 <br/>
                Designer / CoFounder                             
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2016.05 ~ 2017.01 <br/><br/>
                모두의셔틀<br/>
                Service Structure Design<br/>
                UX/UI Design<br/>
                Brand Design<br/>
                Frontend Publishing<br/>
                IR Document Design             
            </p>
        </div>
    </div>
    <div class="item item-career" id="5">
        <div class="left-ele">
            <p class="title">
                BBuzzArt <br/>
                Designer                             
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2015.06 ~ 2016.04<br/><br/>
                BBuzzArt<br/>
                UX/UI Design Renewal<br/>
                Brand Design<br/>
                IR Document Design               
            </p>
        </div>
    </div>
    <div class="item item-career" id="6">
        <div class="left-ele">
            <p class="title">
                McGuffin<br/>
                Designer            
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2015.02 ~ 2015.05<br/><br/>
                Tica<br/>
                UX/UI Design Renewal<br/>
                Brand Design<br/><br/>
                
                동네의발견<br/>
                UX/UI Design Renewal<br/>
                Brand Design                             
            </p>
        </div>
    </div>
    <div class="item item-career" id="7">
        <div class="left-ele">
            <p class="title">
                서울과학기술대학교<br/>
                시각디자인 대학원<br/>
                InnoLab
            </p>
        </div>
        <div class="right-ele">
            <p class="disc">
                2014.08 ~ 2015.01<br/><br/>
                보건복지부<br/>
                응급실 폭력예방 프로젝트<br/>
                Service Design<br/>
                Researcher             
            </p>
        </div>
    </div>
</div>

<script src="./components/career/career.js"></script>