@import url(./animation.css);
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 0 transparent;
  border-radius: 2px;
  background-color: #ffffff;
  opacity: 0; }

::-webkit-scrollbar {
  width: 0px;
  background-color: #ffffff;
  opacity: 0;
  display: none; }

::-webkit-scrollbar-thumb {
  border-radius: 2px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #eee; }

html {
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif; }

html,
body,
p,
span {
  margin: 0;
  padding: 0;
  height: 100%; }

ul, li {
  list-style: none;
  padding: 0;
  margin: 0; }

body {
  background-color: #40c6c6; }

.wrap-card {
  position: absolute;
  top: 5vh;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 400px;
  min-height: 600px;
  padding-bottom: 100px; }
  .wrap-card.close {
    animation-name: closePanel;
    animation-duration: 0.6s;
    animation-fill-mode: forwards; }
  .wrap-card.opencard {
    animation-name: openPanel;
    animation-duration: 0.3s;
    animation-fill-mode: forwards; }
  .wrap-card .card {
    width: 100%;
    background-color: #fff;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
    transform-origin: top; }
    .wrap-card .card .title {
      background-color: #ff6b7c;
      color: #fff;
      height: 40px;
      text-align: center;
      font-size: 18px;
      font-weight: 600;
      padding-top: 19px; }
      .wrap-card .card .title #close {
        position: absolute;
        top: 0;
        right: 0;
        height: auto;
        padding: 20px;
        cursor: pointer; }
    .wrap-card .card ul li.content .list {
      padding: 10px 20px;
      display: flex;
      align-items: center;
      transition: all 0.3s;
      cursor: pointer;
      z-index: 20;
      background-color: #fff; }
      .wrap-card .card ul li.content .list .profile-image {
        width: 40px;
        height: 40px;
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
        display: inline-block;
        position: relative; }
        .wrap-card .card ul li.content .list .profile-image.p1 {
          background-image: url(../images/1.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p2 {
          background-image: url(../images/2.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p3 {
          background-image: url(../images/3.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p4 {
          background-image: url(../images/4.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p5 {
          background-image: url(../images/5.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p6 {
          background-image: url(../images/6.png); }
        .wrap-card .card ul li.content .list .profile-image.p7 {
          background-image: url(../images/7.jpg); }
        .wrap-card .card ul li.content .list .profile-image.p8 {
          background-image: url(../images/8.jpg); }
        .wrap-card .card ul li.content .list .profile-image.activate {
          animation-name: activateP;
          animation-duration: 0.3s;
          animation-fill-mode: forwards; }
        .wrap-card .card ul li.content .list .profile-image.deactivate {
          animation-name: deactivateP;
          animation-duration: 0.3s;
          animation-fill-mode: forwards; }
        .wrap-card .card ul li.content .list .profile-image.init {
          width: 40px;
          height: 40px; }
      .wrap-card .card ul li.content .list .name {
        display: inline-block;
        height: 20px;
        margin-left: 15px;
        font-size: 14px;
        font-weight: 600; }
    .wrap-card .card ul li.content .wrap-disc {
      font-size: 14px;
      color: #999;
      line-height: 20px;
      z-index: 5;
      transform-origin: 50px 50px; }
      .wrap-card .card ul li.content .wrap-disc.activate {
        animation-name: activateDisc;
        animation-duration: 0.3s;
        animation-fill-mode: forwards; }
      .wrap-card .card ul li.content .wrap-disc.deactivate {
        animation-name: deactivateDisc;
        animation-duration: 0.3s;
        animation-fill-mode: forwards; }
      .wrap-card .card ul li.content .wrap-disc.init {
        display: none; }
    .wrap-card .card .bar {
      width: 100%;
      height: 1px;
      background-color: #ddd; }

@media (max-width: 768px) {
  .wrap-card {
    top: 0; } }
.open {
  position: absolute;
  top: 20vh;
  left: 50%;
  transform: translateX(-50%);
  font-size: 30px;
  font-weight: 600;
  color: #fff;
  padding: 10px 50px;
  cursor: pointer;
  text-align: center; }

@media (max-width: 768px) {
  .open {
    font-size: 15px; } }

/*# sourceMappingURL=style.css.map */
