@keyframes tabright {
  from {
    left: 0%;
  }
  to {
    left: 50%;
  }
}

@keyframes tableft {
  from {
    left: 50%;
  }
  to {
    left: 0%;
  }
}
@keyframes oncomments {
  from {
    left:400px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    left:0px;
    opacity: 1;
  }
}
@keyframes offcomments {
  from {
    left:0px;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    left:400px;
    opacity: 0;
  }
}

@keyframes onannotation {
  from {
    left:-400px;
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  to {
    left:0px;
    opacity: 1;
  }
}
@keyframes offannotation {
  from {
    left:0px;
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  to {
    left:-400px;
    opacity: 0;
  }
}
