::-webkit-scrollbar-track
{
 -webkit-box-shadow: inset 0 0 0 rgba(0,0,0,0);
 border-radius: 2px;
 background-color: #ffffff;
 opacity: 0;
}

::-webkit-scrollbar
{
 width: 0px;
 background-color: #ffffff;
 opacity: 0;
 display: none;
}

::-webkit-scrollbar-thumb
{
 border-radius: 2px;
 -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
 background-color: #eee;
}
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #dbdbdb;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #dbdbdb;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #dbdbdb;
}
:-moz-placeholder { /* Firefox 18- */
  color: #dbdbdb;
}
::-moz-selection {
  color: #ff50be;
  background-color: #fdff98;
}
::selection {
  color: #ff50be;
  background-color: #fdff98;
}
*:focus {
  outline: none;
}
html {
  box-sizing: border-box;
  font-family: 'helvetica', sans-serif;
  font-weight: 200;
  font-size: 14px;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

ul, li {
  list-style: none;
  padding: 0;
  margin: 0;
}

.c-blue {
  color: #7ba7ff;
}

.gnb {
  position:fixed;
  height: 80px;
  max-width: 1200px;
  width: 100vw;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(255,255,255, 1);
  z-index: 100;
    .comment {
      float: right;
      position: relative;
      top: 27px;
      padding-right: 25px;
    }
    .logo {
      position: relative;
      top: 35px;
      display: inline-block;
      font-size: 40px;
      color: #7ba7ff;
      font-weight: 600;
      width: 30px;
      float: left;
      padding-left: 20px;
      line-height: 13px;
      letter-spacing: -100;
    }
    .comment img {
      width: 30px;
    }
    @media (max-width:1200px) {
      .comment img {
          display: block;
      }
    }
}
.wrap {
  max-width: 1200px;
  margin: 0 auto;
}
.section-article {
  float: left;
  position: relative;
  top: 60px;
  max-width: 760px;
  width: calc(100vw - 440px);
  margin: 0 auto;
  padding: 20px;
    .wrap-article {
        .back {
          padding: 15px 0px;
          img {

            width: 20px;

          }
        }

        .header {
          min-height: 50px;
          font-size: 25px;
          font-weight: 600;
        }
        .para {
          font-size: 18px;
          line-height: 30px;
          color: #666;
          img {
            width: 90%;
            display: block;
            margin: 0 auto;
          }
        }

    }
    .overay {
      width: 100vw;
      height: 100vh;
      position: fixed;
      top:0;
      left:0;
      background-color: #fff;
      opacity: 0;
      z-index: 9000;
      display: none;
      &.on {
        opacity: 0.2;
        animation: fadeInOver 0.2s;
      }
    }
    .modal {
      position: fixed;
      display: none;
      background-color: #7ba7ff;
      opacity: 0;
      z-index: 10000;
      font-size: 13px;
      padding: 5px 10px;
      font-weight: 600;
      border-radius: 100px;
      box-shadow: 2px 4px 8px 0px rgba(0,0,0,0.2);
      cursor: pointer;
      div {
        cursor: pointer;
      }
      .add {
        color: #fff;
        padding: 10px 15px;
      }
      .point {
        position: absolute;
        -webkit-clip-path: polygon(100% 0, 0 0, 0 100%);
        clip-path: polygon(100% 0, 0 0, 0 100%);
        width:21px;
        bottom: -21px;
        left: 22px;
      }
      &.activate {
        opacity: 1;
        animation: fadeIn 0.3s;
      }
      &.inactive {
        opacity: 0;
        animation: fadeOut 0.3s;
      }
    }
}
@keyframes fadeIn {
  from {
    transform: translateY(20%);
    opacity: 0;
  }
  to {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeInOver {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.2;
  }
}
.chat {
  position:fixed;
  width: 400px;
  top: 10vh;
  box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.1);
  border:0;
  height: 85vh;
  overflow-x: hidden;
  overflow-y: scroll;
}
.nav {
  position: fixed;
  top:0;
  background-color: #fff;
  width: 100%;
  height: 45px;
  z-index: 50;
    .search {
      box-shadow: 0px 15px 10px 0px rgba(255,255,255,1);
      position: absolute;
      top:45px;
      width: 100%;
      height: 60px;
      background-color: #fff;
      input {
        position: absolute;
        border: 0;
        border-bottom: 1px solid #7ba7ff;
        width: 95%;
        margin: 20px 10px 0px 10px;
        padding: 5px 35px 10px 15px;
        display: inline-block;
        font-size: 16px;
        box-sizing: border-box;
        font-weight: 200;
        color: #666;
      }
      .icn {
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 25px;
        img {
          width: 20px;
        }
      }
    }
    .nav-tab {
      display: inline-block;
      width: 199px;
      float: left;
      text-align: center;
      color: #7ba7ff;
      height: 45px;
      line-height: 45px;
      font-weight: 100;
      cursor: pointer;
      opacity: 0.5;
      transition: all 0.5s;
    }
    .nav-tab:hover {
      opacity: 1;
    }
    .nav-tab.selected {
      cursor: auto;
      opacity: 1;
    }
    #bar {
      height: 4px;
      background-color: #7ba7ff;
      width: 50%;
      position: absolute;
      top: 41px;
    }
    #bar.left {
      left: 0%;
      animation: tableft 0.2s;

    }
    #bar.right {
      left: 50%;
      animation: tabright 0.2s;
    }
}
.tab-comments {
  padding: 115px 5px 80px 5px;
  position: absolute;
  width: 400px;
  box-sizing: border-box;
  display: none;

    &.active {
      opacity: 1;
      left: 0px;
      animation: oncomments 0.5s;
    }
    &.inactive {
      opacity: 0;
      left: 400px;
      animation: offcomments 0.5s;
    }

     ul {
       li {
       .profile {
        height: 40px;
        padding: 10px 15px 0px 15px;
          .photo {
            width: 40px;
            height: 40px;
            border-radius: 25px;
            border: 1px solid #f8f8f8;
            float: left;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            &.u1{
              background-image: url(../images/u1.jpg);
            }
            &.u2{
              background-image: url(../images/u2.jpg);
            }
            &.u3{
              background-image: url(../images/u3.jpg);
            }
            &.u4{
              background-image: url(../images/u4.jpg);
            }
            &.u5{
              background-image: url(../images/u5.png);
            }
            &.u6{
              background-image: url(../images/u6.jpg);
            }
            &.u7{
              background-image: url(../images/u7.jpg);
            }
            &.u8{
              background-image: url(../images/u8.jpg);
            }
          }
         .name {
            display: inline-block;
            line-height: 40px;
            padding-left: 10px;
            font-weight: 700;
          }
      }
      .wrap-contents {
        padding: 5px 15px 5px 15px;
          .date {
          text-align: right;
          color: #ccc;
          font-size: 11px;
          }
          .contents {
          font-size: 13px;
          line-height: 20px;
          color: #777;
          }
      }
    }
  }
}

.comment-input {
  position: fixed;
  bottom: 0;
  background-color:#fff;
  width: 100%;
  box-shadow: 0px -5px 15px 0px rgba(255,255,255,1);
  input {
    border: 0;
    border-bottom: 1px solid #7ba7ff;
    margin: 10px;
    width: 80%;
    padding: 10px 35px 10px 15px;
    display: inline-block;
    font-size: 16px;
    box-sizing: border-box;
    font-weight: 200;
    color: #666;
  }
  span {
    color: #7ba7ff;
    display: inline-block;
  }
}
.tab-annotation  {
  padding: 100px 0px 0px 0px;
  position: absolute;
  width: 400px;
  box-sizing: border-box;
  cursor: pointer;
  &.active {
    opacity: 1;
    left: 0;
    animation: onannotation 0.5s;
  }
  &.inactive {
    opacity: 0;
    left: -400px;
    animation: offannotation 0.5s;
  }
  ul {
    padding: 20px 0px;
    li {
      padding: 12px 15px;
      transition: all 0.2s;
      &:hover {
        background-color: #fafafa;
      }
      .head {
        font-size: 16px;
        color: #7ba7ff;
        margin-bottom: 3px;
      }
      .date {
        font-size: 12px;
        color: #dbdbdb;
        margin-bottom: 3px;
      }
      .disc {
        font-size: 14px;
        color: #666;
        line-height: 22px;
      }
    }
  }
}
.add-annotation {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  width: 400px;
  box-sizing: border-box;
  padding: 15px;
  display: none;
  box-shadow: 3px 3px 15px 1px rgba(0,0,0,0.1);
  z-index: 11000;
  .title {
    padding-top: 0px;
    font-size: 14px;
    font-weight: 200;
    padding-bottom: 8px;
    color: #666;
    line-height: 24px;
    span {
      color: #7ba7ff;
      font-size: 18px;
    }
  }
  .disc {
    width: 100%;
    padding: 10px 15px 50px 15px;
    font-size: 16px;
    line-height: 24px;
    border: 1px solid #dbdbdb;
    min-height: 150px;
    box-sizing: border-box;
    textarea {
      width: 100%;
      font-size: 16px;
      line-height: 24px;
      color: #666;
      border: 0;
      height: 140px;
      box-sizing: border-box;

    }
    .btn {
      position: absolute;
      right: 25px;
      bottom: 25px;
      padding: 4px 20px;
      font-size: 14px;
      color: #7ba7ff;
      border: 1px solid #7ba7ff;
      border-radius: 30px;
      transition: all 0.2s;
      cursor: pointer;

    }
    .btn:hover {
      background-color: #7ba7ff;
      color: #fff;
    }
  }
}
