
.container_trending, .container_channel_page, .container_userp {
  opacity: 0;
  .cover {
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    &.welcome {
      background-image: url(../images/contents/main.png);
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      color: #fff;
      height: 400px;
    }
    h1 {
      font-size: 48px;
      font-weight: 500;
      line-height: 71px;
    }
    p {
      margin-top: 10px;
      font-size: 16px;
      font-weight: 200;
      line-height: 24px;
    }
    .button_group {
      margin-top: 42px;
      button {
        font-size: 16px;
        font-weight: 200;
        width: 181px;
        height: 48px;
        color: #fff;
        border: 1px solid #fff;
        margin: 0 10px;
      }
    }
  }
  #list {
    margin: 0 auto;
    padding: 40px 10px;
    transition: all 0.3s;
    box-sizing: border-box;
    .wrap_title {
      padding-bottom: 20px;
      & > span.title {
        font-size: 24px;
        color: #888;
        padding-left: 15px;
        line-height: 32px;
        font-weight: 600;
      }
    }
    .page_menu {
      width: 100%;
      border-bottom: 1px solid #eee;
      margin-bottom: 36px;
      display: flex;
      justify-content: space-between;
      align-items: baseline;
      .left_ele {
        display: flex;
        align-items: flex-end;
        .btn_menu_item {
          font-size: 14px;
          font-weight: 600;
          padding: 12px 24px;
          color: #ccc;
          transition: all 0.2s;
          cursor: pointer;
          &:hover {
            color: #999;
          }
          &.active {
            color: #666;
          }
        }
        .select_bar {
          height: 4px;
          background-color: #666;
          position: absolute;
          transition: all 0.2s;
          width: 85.3px;

        }
      }
      .right_ele {
        .btn_filter {
          font-size: 12px;
          font-weight: 300;
          color: #999;
        }
      }
    }
    .trend_ch {
      padding: 12px 5px 40px;
      .ch_item {
        display: inline-block;
        color: #fff;
        padding: 8px 18px 9px;
        border-radius: 30px;
        margin-left: 10px;
        margin-bottom: 10px;
        font-size: 16px;
        cursor: pointer;
        &.ch1 {
          background-color: #FFCE49;
        }
        &.ch2 {
          background-color: #7449FF;
        }
        &.ch3 {
          background-color: #46E8AF;
        }
        &.ch4 {
          background-color: #B66CD7;
        }
        &.ch5 {
          background-color: #79B6BC;
        }
        &.ch6 {
          background-color: #AAE069;
        }
        &.ch7 {
          background-color: #75E78E;
        }
        &.ch8 {
          background-color: #DB6AA9;
        }
        &.ch9 {
          background-color: #FF5D5D;
        }
      }
    }
    .grid {
      width: 100%;
      margin: 0 auto;
      .grid-item {
        float: left;
        width: 260px;
        margin-bottom: 30px;
        .card {
          text-align: left;
          width: 100%;
          background-color: #fff;
          padding: 15px;
          box-sizing: border-box;
          border-radius: 20px;
          transition : all 0.3s;
          cursor: pointer;
          box-shadow: 1px 4px 16px rgba(0,0,0,0.05);
          &:hover {
            transition : all 0.3s;
            /*box-shadow: 1px 4px 8px rgba(0,0,0,0.05);*/
            background-color: #f8f8f8;
          }
          .upload_card {
            padding: 10px 10px 60px;
            font-size: 30px;
            color: #ccc;
            line-height: 38px;
          }
          .card_top {
            display: flex;
            justify-content: space-between;
            .title {
              margin-top: 0;
            }
            .post_type{
              font-size: 13px;
              font-weight: 300;
              color: #999;
            }
            .ch {
              color:#77D89A;
              font-size: 14px;
              font-weight: 600;
              &:hover {
                text-decoration: underline;
              }
              &.ch1 {
                color: #FFCE49;
              }
              &.ch2 {
                color: #7449FF;
              }
              &.ch3 {
                color: #46E8AF;
              }
              &.ch4 {
                color: #B66CD7;
              }
              &.ch5 {
                color: #79B6BC;
              }
              &.ch6 {
                color: #AAE069;
              }
              &.ch7 {
                color: #75E78E;
              }
              &.ch8 {
                color: #DB6AA9;
              }
              &.ch9 {
                color: #FF5D5D;
              }
            }
          }
          
          .title {
            word-break: keep-all;
            max-width: 170px;
            font-size: 22px;
            color: #666;
            font-weight: 500;
            line-height: 26px;
            margin-top: 6px;
            span {
              font-size: 14px;
              font-weight: 400;
            }
            &.series_title {
              margin-top: 10px;
            }
          }
          .writer {
            font-size: 12px;
            color: #999;
            margin-top: 4px;
            &:hover {
              text-decoration: underline;
            }
          }
          .writer span {
            font-weight: 600;
            color: #666;
          }
          .wrap_image {
            margin-top: 6px;
            width: 100%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;
            min-height: 10px;
            &.img1{
              background-image: url(../images/contents/1.jpg);
              height: 300px;
            }
            &.img2{
              background-image: url(../images/contents/2.jpg);
              height: 150px;
            }
            &.img3{
              background-image: url(../images/contents/3.jpg);
              height: 150px;
            }
            &.img4{
              background-image: url(../images/contents/4.png);
              height: 150px;
            }
            &.img5{
              background-image: url(../images/contents/5.png);
              height: 140px;
            }
            &.img6{
              background-image: url(../images/contents/6.jpg);
              height: 140px;
            }
            &.img7{
              background-image: url(../images/contents/7.jpg);
              height: 200px;
            }
            &.img8{
              background-image: url(../images/contents/8.jpg);
              height: 220px;
            }
            &.img9{
              background-image: url(../images/contents/9.jpg);
              height: 280px;
            }
            &.img10{
              background-image: url(../images/contents/10.jpeg);
              height: 360px;
            }
            &.img_ad{
              background-image: url(../images/contents/ad.jpg);
              height: 130px;
            }
          }
          .comment {
            font-size: 14px;
            color: #999;
            font-weight: 300;
            width: 100%;
            margin-top: 8px;
          }
          .disc {
            margin-top: 4px;
            font-size: 12px;
            color: #999;
          }
          .series_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 10px;
            .series_disc {
              font-size: 14px;
              color: #999;
              font-weight: 300;
            }
            .btn_more {

            }
          }
          .card_bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-top: 20px;
            .delete_comment {
              font-size: 12px;
              color: #999;
              font-weight: 300;
            }
            .date {
              font-size: 12px;
              color: #999;
              font-weight: 300;
            }
            .recommand {
              display: flex;
              align-items: center;
              span {
                margin-left: 6px;
                font-size: 12px;
                color: #999;
                font-weight: 300;
                .up {

                }
              }
              img {
                margin-left: 6px;
              }
            }
          }
          
        }
        // .card_division {
        //   color: #eee;
        //   border-color: #eee;
        //   background-color: #eee;
        //   width: 240px;
        //   height: 1px;
        //   margin: 15px;
        // }
      }
    }
  }
}


.container_channel_page, .container_userp {
  .ch_cover, .user_cover {
    background-image: url(../images/contents/ch_cover.png);
    height: 270px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    .btn_group {
      position: absolute;
      z-index: 100;
      margin: -20px 0px 0px -18px;
      .btn_page_setting {
        width: 34px;
        height: 34px;
        background-color: #fff;
        border-radius: 30px;
      }
      .btn_page_cover_upload {
        width: 34px;
        height: 34px;
        background-color: #fff;
        border-radius: 30px;
      }
      .btn_subscribe {
        padding: 10px 22px;
        height: 38px;
        background-color: #fff;
        border-radius: 30px;
        color: #666;
      }
    }

  }
  .page_list {
    position: relative;
    top: -80px;
    .page_info {
      padding-bottom: 90px;
      .page_icon{
        font-size: 42px;
        width: 76px;
        height: 76px;
        border-radius: 100px;
        background-color: #fff;
        box-shadow: 4px 6px 12px rgba(0,0,0,0.1);
        border:3px solid #77d89a;
        color: #77d89a;
        &.user_icon {
          background-image: url(../images/user_img.svg);
          background-position: center;
          background-repeat: no-repeat;
          border-color: #F5A623;
        }
      }
      .info_text {
        margin-left: 20px;
        display: inline-block;
        position: relative;
        top: 60px;
        .page_name {
          color: #77d89a;
          font-size: 22px;
          font-weight: 600;
          &.user_name {
            color: #666;
            span {
              font-size: 14px;
              color: #999;
              font-weight: 300;
              margin-left: 10px;
            }
          }
        }
        .page_simple_disc {
          margin-top: 10px;
          font-size: 14px;
          color: #999;
          font-weight: 300;
        }
      }
    }
  }
}
.container_userp {
  .user_cover {
    background-image: url(../images/contents/user_cover.png);
    height: 270px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
.container_userpage_menu {
  opacity: 0;
}


.container_channel_list {
  padding-top: 100px;
  width: 90%;
  margin: 0 auto;
  opacity: 0;
  .header {
    display: flex;
    .title {
      font-size: 48px;
      color: #666;
      font-weight: 500;
    }
    .search_box {
      display: flex;
      width: calc(100% - 213px);
      border-bottom: 1px solid #ccc;
      padding: 10px;
      margin-left: 36px;
      justify-content: space-between;
      .left_ele {
        width: 100%;
        display: flex;
        input {
          width: 100%;
          max-width: 600px;
          border:none;
          padding-left: 12px;
          &:focus {
            outline: none;
          }
        }
      }
      .right_ele {
        span {
          color: #999;
          font-size: 14px;
          font-weight: 300;
        }
      }
    }
  }
}


.channel_list {
  margin-top: 30px;
  .channel_list_item {
    display: flex;
    align-items: center;
    margin: 10px auto;
    .rank {
      width : 50px;
      color: #666;
    }
    .channel_name {
      width: 150px;
      color: #666;
    }
    .top3 {
      font-weight: 500;
      font-size: 16px;
    }
    .other {
      font-size: 14px;
      font-weight: 300;
    }
    .graph {
      border-radius: 40px;
      height: 36px;
      min-width: 10px;
      margin-left: 10px;
      &.r1 {
        background-color: #9A49FF;
        width: calc(100% - 350px);
      }
      &.r2 {
        background-color: rgb(255, 176, 73);
        width: calc(90% - 350px);
      }
      &.r3 {
        background-color: rgb(191, 255, 73);
        width: calc(75% - 350px);
      }
      &.r4 {
        background-color: rgb(39, 199, 199);
        width: calc(60% - 350px);
      }
      &.r5 {
        background-color: rgb(73, 137, 255);
        width: calc(52% - 350px);
      }
      &.r6 {
        background-color: rgb(199, 63, 70);
        width: calc(45% - 350px);
      }
      &.r7 {
        background-color: rgb(206, 203, 37);
        width: calc(42% - 350px);
      }
    }
    .channel_info {
      margin-left: 10px;
      font-size: 12px;
      color: #999;
      font-weight: 300;
    }
  }
}