<div class="section sec-portfolio">
    <div class="item item-portfolio" id="heartclick">
        <div class="title">
            UI Micro Interaction<br/>
            Heart Click
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="caricature">
        <div class="title">
            Toy Project<br/>
            Random Caricature
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="anno">
        <div class="title">
            Annotation Based<br/>
            Comment System<br/>
            Concept Prototype
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="color-composer">
        <div class="title">
            Random<br/>
            Color Composer
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="player">
        <div class="title">
            Simple Music Player<br/>
            Concept Prototype
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="profile-list">
        <div class="title">
            Simple Profile list <br/>
            Concept Prototype
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
</div>
    
    <script src="./components/study/study.js"></script>