<div class="section sec-portfolio">
    <div class="item item-portfolio" id="redot">
        <div class="title">
            Community Platform<br/>
            Redot Prototype
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="08l">
        <div class="title">
            경험공유 커머스<br/>
            08Liter 2.0 UX/UI Design
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="mosher">
        <div class="title">
            출근셔틀 예약서비스<br/>
            모두의셔틀 UX/UI Design
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="bbuzzart">
        <div class="title">
            SNS for<br/>
            Emerging Aritsts<br/>
            BBuzzArt
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="republic">
        <div class="title">
            Republic Dot<br/>
            Company Website
            
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
    <div class="item item-portfolio" id="emergency">
        <div class="title">
            보건복지부<br/>
            응급실 폭력예방 프로젝트<br/>
            서비스 디자인
        </div>
        <div class="arrow">
            <img src="../../images/arrow.svg" alt="">
        </div>
    </div>
</div>

<script src="./components/portfolio/portfolio.js"></script>